<html>
	<head>
		<meta charset="utf-8">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/font-awesome.min.css" rel="stylesheet">
		<style>
			.tandem{
				width:30%;
				position: absolute;
				transform: translate(0,-20%);
			}
			
			#menu{
				margin-top: 40%;
			}
			
			a.list-group-item{
				background-color: #FCFCF0;
			}
			
			a.list-group-item{
				color: #F09A4E;
			}
			
			a.list-group-item:hover{
				background-color: #FCFCF0;
				color: #F09A4E;
			}
			
			a.list-group-item:focus{
				background-color: #FCFCF0;
				color: #F09A4E;
			}
			
			body{				
				background-color: #FCFCF0;
			}
			
			@media(max-width:1030px)
			{
				.desktop{
					display:none!important;
				}
			}
			
			@media(min-width:1030px)
			{
				.mobile{
					display:none!important;
				}
			}
			
			
			.mobile h1{
				font-size: 80;
			}
			
			.mobile p{
				font-size: 60;
			}
			
			.mobile{
				margin: 20px 20px 20px 20px;
			}
			
		</style>
	</head>
	<body ng-app="wedding" ng-controller="MainCtrl">

		<!-- Facebook sdk -->
		<div id="fb-root"></div>
		<script>
			(function(d, s, id) {
				  var js, fjs = d.getElementsByTagName(s)[0];
				  if (d.getElementById(id)) return;
				  js = d.createElement(s); js.id = id;
				  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=114138538983200";
				  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>

		<div style="position:fixed;height:100vh;background-color:rgba(0, 0, 0, 0.6);width:100%;z-index:10;vertical-align:middle;" ng-show="rsvp;" ng-click="rsvp=false;">

		<div style="width:50%;display:block;margin-top:10vh;color:white;margin:0 auto;">
			 <a ng-click="rsvp=false;" href style="color:white;"><span class="glyphicon glyphicon-remove" style="margin-left:98%"></span></a>
			
		</div>
		<iframe ng-hide="full" src="https://docs.google.com/forms/d/1mDURG8-ZtpXBzC0LwTfdKX-ONQ4Xj4P4coWuDkgEgDk/viewform?embedded=true" style="height:80vh;width:50%;margin:0 auto;display:block;margin-top:1vh;" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
		<iframe ng-show="full" src="https://docs.google.com/forms/d/1l0c2-8k1YHzPyokhXCvYXpRWCO_8Nu067wbKHcJpXlw/viewform?embedded=true" style="height:80vh;width:50%;margin:0 auto;display:block;margin-top:1vh;" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

		</div>
		
		<div class="mobile">
			<h1>Web 1.0</h1>
			<p>Ce site vintage n'est pas conçu pour s'ouvir sur mobile ou tablette.</p>
			<p>Veuillez nous excusez pour la gêne occasionnée.</p>
		</div>

		<div style="z-index:-10;" class="desktop">
			<svg xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 944 672" style="height:95vh;float:left">
				
			  <image x="0" y="0" width="944" height="672"
				 xlink:href="images/map.jpeg" />
				  <image x="560" y="170" width="110" height="110"
					 xlink:href="images/appart.png" class="pin"  style="animation-delay:10s;" ng-show="us" ng-mouseOver="appart = true" ng-mouseLeave="appart = false"/>
			
				 <image x="250" y="200" width="106" height="225"
				 xlink:href="images/eiffel.png" />	
			
			  <image x="250" y="30" width="62" height="68"
				 xlink:href="images/plot.png"  ng-mouseOver="pit = true;zoomPit = true" ng-show="bestmen && !zoomPit"/>
			  <image x="350" y="0" width="212" height="123"
				 xlink:href="images/montmartre.png" />
			  <image x="60" y="130" width="101" height="110"
				 xlink:href="images/vache.png" ng-mouseOver="thomas = true;thomasZoom=true;" ng-show="bestmen && !thomasZoom"/>
			  <image x="10" y="320" width="250" height="250"
				 xlink:href="images/will.png" ng-mouseOver="will = true" ng-mouseLeave="will = false;zoomWill=false;" ng-show="zoomWill"/>
			  <image x="50" y="370" width="150" height="150"
				 xlink:href="images/will.png" ng-mouseOver="will = true;zoomWill = true;"ng-show="bestmen && !zoomWill"/>
			  <image x="450" y="270" width="100" height="100"
				 xlink:href="images/laurene.png" ng-mouseOver="laurene = true;zoomLaurene =true;" ng-show="bestmen && !zoomLaurene"/>
			  <image x="480" y="200" width="80" height="85"
				 xlink:href="images/danse.png" ng-show="us" ng-mouseOver="danse = true" ng-mouseLeave="danse = false"/>
			  <image x="200" y="350" width="300" height="300"
				 xlink:href="images/nogo.png" ng-show="us" ng-mouseOver="nogo = true" ng-mouseLeave="nogo = false"/>
			  <image x="490" y="10" width="120" height="120"
				 xlink:href="images/pharma.png" ng-show="zoomPharma" ng-mouseOver="pharma = true" ng-mouseLeave="pharma = false;zoomPharma =false;"/>
			  <image x="500" y="20" width="100" height="100"
				 xlink:href="images/pharma.png" ng-show="us && !zoomPharma" ng-mouseOver="pharma = true;zoomPharma=true;"/>
			  <image x="370" y="50" width="150" height="150"
				 xlink:href="images/laurem.png" ng-show="zoomLaurem" ng-mouseOver="laurem = true" ng-mouseLeave="laurem = false;zoomLaurem=false"/>
			  <image x="400" y="70" width="100" height="100"
				 xlink:href="images/laurem.png" ng-show="bestmen && !zoomLaurem" ng-mouseOver="laurem = true;zoomLaurem=true;"/>
				 
				 
			  <image x="500" y="450" width="100" height="100"
				 xlink:href="images/notes1.png" ng-show="bestmen" ng-mouseOver="emeline = true" ng-mouseLeave="emeline = false"/>
			  <image x="500" y="450" width="100" height="100"
				 xlink:href="images/notes2.png" ng-show="bestmen" ng-mouseOver="emeline = true" ng-mouseLeave="emeline = false"/>
			  <image x="500" y="450" width="100" height="100"
				 xlink:href="images/notes3.png" ng-show="bestmen" ng-mouseOver="emeline = true" ng-mouseLeave="emeline = false"/>
			  <image x="500" y="450" width="100" height="100"
				 xlink:href="images/notes4.png" ng-show="bestmen" ng-mouseOver="emeline = true" ng-mouseLeave="emeline = false"/>
			  <image x="450" y="450" width="200" height="200"
				 xlink:href="images/emeline.png" ng-show="zoomEmeline" ng-mouseOver="emeline = true" ng-mouseLeave="emeline = false;zoomEmeline=false;"/>
			  <image x="500" y="500" width="100" height="100"
				 xlink:href="images/emeline.png" ng-show="bestmen && !zoomEmeline" ng-mouseOver="emeline = true;zoomEmeline = true;" />
			  
			  <image x="540" y="80" width="150" height="150"
				 xlink:href="images/cine.png" ng-show="zoomCine" ng-mouseLeave="cine = false;zoomCine=false;"/>
			  <image x="560" y="100" width="80" height="80"
				 xlink:href="images/cine.png" ng-show="us && !zoomCine" ng-mouseOver="cine = true; zoomCine =true;" />
			  
			
				<image x="200" y="200" width="100" height="85"
				 xlink:href="images/perrine.png" ng-show="bestmen" ng-mouseOver="perrine = true;zoomPerrine = true;" ng-mouseLeave="perrine = false" class="zoom"/>

				   <image x="150" y="150" width="200" height="200"
				 xlink:href="images/perrine.png" ng-show="zoomPerrine" ng-mouseOver="perrine = true" ng-mouseLeave="perrine = false;zoomPerrine = false;" class="zoom"/>
				
				
				
				<image x="320" y="200" width="150" height="200"
					 xlink:href="images/bavaria.png" id="bavaria" ng-show="zoombavaria" ng-mouseOver="bavaria = true" ng-mouseLeave="bavaria = false;zoombavaria=false;"/>
				<image x="340" y="220" width="100" height="140"
					 xlink:href="images/bavaria.png" id="bavaria" ng-show="us && !zoombavaria" ng-mouseOver="bavaria = true;zoombavaria=true;"/>
				
				<image x="120" y="240" width="150" height="200"
					 xlink:href="images/champ.png" id="champ" ng-show="zoomchamp" ng-mouseOver="champ = true" ng-mouseLeave="champ = false;zoomchamp=false;"/>
				<image x="140" y="260" width="100" height="140"
					 xlink:href="images/champ.png" id="champ" ng-show="info && !zoomchamp" ng-mouseOver="champ = true;zoomchamp=true;"/>
				

			  <image x="320" y="130" width="170" height="170"
				 xlink:href="images/alex.png" ng-show="zoomAlex" ng-mouseOver="alex = true" ng-mouseLeave="alex = false;zoomAlex=false"/>

			  <image x="350" y="180" width="100" height="85"
				 xlink:href="images/alex.png" ng-show="bestmen && !zoomAlex" ng-mouseOver="alex = true;zoomAlex=true;" ng-mouseLeave="alex = false"/>
			 
				  <image x="640" y="380" width="137" height="165" transform="rotate(20, 640, 380)"
					 xlink:href="images/train.png" />
				<image x="590" y="280" width="150" height="150"
					 xlink:href="images/rings.png" id="rings" ng-show="zoomRings" ng-mouseOver="rings = true" ng-mouseLeave="rings = false;zoomRings=false;"/>
				<image x="610" y="300" width="106" height="106"
					 xlink:href="images/rings.png" id="rings" ng-show="info && !zoomRings" ng-mouseOver="rings = true;zoomRings=true;"/>


					 <image x="140" y="70" width="106" height="50"
						 xlink:href="images/neuilly.png" ng-show="us" ng-mouseOver="quicksign = true;" ng-mouseLeave="quicksign =false;"/>

					 <image x="170" y="90" width="106" height="100"
						 xlink:href="images/orange_bike.png" ng-show="us"  ng-mouseOver="quicksign = true;" ng-mouseLeave="quicksign =false;"/>


					 <image x="650" y="60" width="106" height="100"
						 xlink:href="images/blue_bike.png"  ng-show="us"ng-mouseOver="bobigny = true;" ng-mouseLeave="bobigny =false;"/>

					 <image x="720" y="70" width="106" height="50"
						 xlink:href="images/bobigny.png" ng-show="us" ng-mouseOver="bobigny = true;" ng-mouseLeave="bobigny =false;"/>

					 <image x="670" y="200" width="100" height="100"
						 xlink:href="images/kiss.png"  ng-show="us" ng-mouseOver="kiss = true;" ng-mouseLeave="kiss = false;"/>
						 
						 
			  <image x="30" y="120" width="150" height="150"
				 xlink:href="images/vache.png" ng-mouseOver="thomas = true" ng-mouseLeave="thomas = false;thomasZoom=false;" ng-show="thomasZoom"/>

				 
			  <image x="220" y="10" width="120" height="120"
				 xlink:href="images/plot.png"  ng-mouseOver="pit = true" ng-mouseLeave="pit = false;zoomPit=false" ng-show="zoomPit"/>
			  <image x="400" y="200" width="200" height="200"
				 xlink:href="images/laurene.png" ng-mouseOver="laurene = true" ng-mouseLeave="laurene = false;zoomLaurene =false" ng-show="zoomLaurene"/>
			  <foreignObject x="200" y="250" width="300" height="200" ng-show="thomas">
				<div xmlns="http://www.w3.org/1999/xhtml" style="background-color:rgba(255, 255, 255, 0.8);height:100%;padding:1% 3% 1%;">
					<p xmlns="http://www.w3.org/1999/xhtml" ><b>Thomas</b><br/><br/>Trois ans d'avance sur ses pairs, cet éternel premier de la classe a toujours été une source d'inspiration pour son frère jumeau. Si besoin, vous le trouverez au Bois-de-Boulogne entrain d'enrichir son herbier.<br/>Téléphone: 0676745008</p>
				</div>
			  </foreignObject>
			  <foreignObject x="200" y="220" width="300" height="200" ng-show="quicksign">
				<div xmlns="http://www.w3.org/1999/xhtml" style="background-color:rgba(255, 255, 255, 0.8);height:100%;padding:1% 3% 1%;">
					<p xmlns="http://www.w3.org/1999/xhtml" ><b>Quicksign</b><br/><br/>Faites vous coopter par Camille, rejoignez son armée de geeks et conquérez le monde.<br> Mais surtout payez votre pinte neuilléenne à 10 euros!</p>
				</div>
			  </foreignObject>
			  <foreignObject x="400" y="220" width="300" height="200" ng-show="bobigny">
				<div xmlns="http://www.w3.org/1999/xhtml" style="background-color:rgba(255, 255, 255, 0.8);height:100%;padding:1% 3% 1%;">
					<p xmlns="http://www.w3.org/1999/xhtml" ><b>Master en éducation thérapeutique</b><br/><br/>Comme Lore-Anne, reprenez vos études et découvrez l'université de Paris 13. Bobigny-style!</p>
				</div>
			  </foreignObject>
			  <foreignObject x="200" y="250" width="300" height="200" ng-show="cine">
				<div xmlns="http://www.w3.org/1999/xhtml" style="background-color:rgba(255, 255, 255, 0.8);height:100%;padding:1% 3% 1%;">
					<p xmlns="http://www.w3.org/1999/xhtml" ><b>Cinéma</b><br/><br/>A chaque rive sa programmation, musclée quai de Loire, cérébrale quai de Seine, il y en a pour tous les goûts sur le canal de l'Ourcq.<br/>Ne manquez pas le tour gratuit en navette fluviale. Sensations fortes garanties!</p>
				</div>
			  </foreignObject>
			  <foreignObject x="250" y="360" width="300" height="200" ng-show="will">
				<div xmlns="http://www.w3.org/1999/xhtml" style="background-color:rgba(255, 255, 255, 0.8);height:100%;padding:1% 3% 1%;">
					<p xmlns="http://www.w3.org/1999/xhtml" ><b>William</b><br>Poète à la punchline facile, ce joueur émérite a formé avec le futur marié le duo de coinche la plus prolifique de tous les temps.<br/> Si besoin vous le trouverez dans les travées du Parc.<br/>Téléphone: 0626797488</p>
				</div>
			  </foreignObject>
			  <foreignObject x="200" y="360" width="300" height="230" ng-show="emeline">
				<div xmlns="http://www.w3.org/1999/xhtml" style="background-color:rgba(255, 255, 255, 0.8);height:100%;padding:1% 3% 1%;">
					<p xmlns="http://www.w3.org/1999/xhtml" ><b>Emeline</b><br><br>

Rencontrée sur les bancs de P1, nous ne nous sommes plus quittées jusqu’à faire partie du clan des 

phamas lyonnais expatriés à Paris ! <br>Généreuse, attentionnée et pleine d’entrain, elle fait partie de celles 

qu’on veut garder à ses côtés à tout jamais.<br/>
Téléphone: 0632506848
					</p>
				</div>
			  </foreignObject>
			  <foreignObject x="350" y="120" width="300" height="200" ng-show="pit">
				<div xmlns="http://www.w3.org/1999/xhtml" style="background-color:rgba(255, 255, 255, 0.8);height:100%;padding:1% 3% 1%;">
					<p xmlns="http://www.w3.org/1999/xhtml" ><b>Pierre-Antoine</b><br/><br/>Rencontré dans la cour de récré, ce batteur compulsif a rythmé avec le futur marié, bassiste virtuose, les plus gros hits de Liamath.<br/> Si besoin, vous le trouverez entrain de couler une dalle de béton quelque part dans Paris.<br/>Téléphone: 0698605705</p>
				</div>
			  </foreignObject>
			  <foreignObject x="500" y="120" width="300" height="230" ng-show="laurem">
				<div xmlns="http://www.w3.org/1999/xhtml" style="background-color:rgba(255, 255, 255, 0.8);height:100%;padding:1% 3% 1%;">
					<p xmlns="http://www.w3.org/1999/xhtml" ><b>Laure-Emeline</b><br/><br/>
						Créatrice, collaboratrice, vigie et pleine de folie selon le MBI-test. Un profil que nous avons plus que

partagé et exploité comme deux ovnis dans une promo de pharmaciens rationnels et organisés. <br/>Nos 

ultimes points communs : hypocondriaques et massage-dépendantes.<br/>
Téléphone: 0623390885

					</p>
				</div>
			  </foreignObject>
			  <foreignObject x="450" y="130" width="300" height="200" ng-show="pharma">
				<div xmlns="http://www.w3.org/1999/xhtml" style="background-color:rgba(255, 255, 255, 0.8);height:100%;padding:1% 3% 1%;">
					<p xmlns="http://www.w3.org/1999/xhtml" ><b>Pharmacie du Bateau-Lavoir</b><br/><br/>La pharmacie où Pablo Picasso venait acheter son paracétamol*<br/> Venez vous faire servir par Lore-Anne dans la plus petite pharmacie de Paris. Attention fermée entre midi et deux!<br/><br/>*source wikipédia non vérifiée</p>
				</div>
			  </foreignObject>

			  <foreignObject x="270" y="300" width="300" height="200" ng-show="appart">
					<div xmlns="http://www.w3.org/1999/xhtml" style="background-color:rgba(255, 255, 255, 0.8);height:100%;padding:1% 3% 1%;">
						<p xmlns="http://www.w3.org/1999/xhtml" ><b>Chez nous</b><br/><br/>
							Le barycentre, le point zéro, le centre névralgique de Paris.<br>
							Soyez toujours les bienvenus rue de la Folie-Méricourt!
						</p>
					</div>
		  		</foreignObject>
				
			  <foreignObject x="370" y="300" width="300" height="200" ng-show="kiss">
					<div xmlns="http://www.w3.org/1999/xhtml" style="background-color:rgba(255, 255, 255, 0.8);height:100%;padding:1% 3% 1%;">
						<p xmlns="http://www.w3.org/1999/xhtml" ><b>Premier baiser</b><br/><br/>
							Ne négligez pas le 20ème arrondissement et son ambiance moins pincée, on y fait de belles rencontres et trouve l'audace de forcer le destin.
						</p>
					</div>
		  		</foreignObject>

				
		  		<foreignObject x="250" y="320" width="300" height="200" ng-show="danse">
					<div xmlns="http://www.w3.org/1999/xhtml" style="background-color:rgba(255, 255, 255, 0.8);height:100%;padding:1% 3% 1%;">
						<p xmlns="http://www.w3.org/1999/xhtml" ><b>Lindy hop</b><br/><br/>
							Venez vous initier à cette danse tombée en désuétude, aussi vite qu'elle est apparue, à l'Ecole de Danse de Paris.<br>
							Mais surtout enchainez sur une bière au bord du canal!
						</p>
					</div>
		  		</foreignObject>
	
	
		  		<foreignObject x="250" y="320" width="500" height="300" ng-show="champ">
					<div xmlns="http://www.w3.org/1999/xhtml" style="background-color:rgba(255, 255, 255, 0.8);height:100%;padding:1% 3% 1%;">
						<p xmlns="http://www.w3.org/1999/xhtml" ><b ng-hide="full">Cocktail 18h00-20h00</b><b ng-show="full">Cocktail 18h00</b><br/><br/>
							Venez trinquer avec nous au Mona-Bismarck à partir de 18h.<br/><br/>
							34 Avenue de New York,<br/>
							75116 Paris<br/><br/>
							Pour venir depuis l'église, le plus simple est de prendre le <b>métro</b><br/><i>Arrêt Iéna sur la ligne 9</i><br>
							Il est toutefois possible de se garer au <b>parking</b> du Quai Branly-Tour Eiffel, à 10 min à pied.<br><br>
							<span ng-show="full"><b>Brunch</b> le lendemain à partir de 11h30</span>
						</p>
					</div>
		  		</foreignObject>
	

		  		<foreignObject x="250" y="320" width="300" height="250" ng-show="rings">
					<div xmlns="http://www.w3.org/1999/xhtml" style="background-color:rgba(255, 255, 255, 0.8);height:100%;padding:1% 3% 1%;">
						<p xmlns="http://www.w3.org/1999/xhtml" ><b>Célébration 15h30</b><br/><br/>
							Le mariage sera célébré à 15h30 à l'église de Saint-Ambroise.<br/><br/>
							2 Rue Saint-Ambroise,<br/>
							75011 Paris<br/><br/>
							Métro Saint-Ambroise ligne 9.<br>
							Possibilité de se garer dans le quartier.
						</p>
					</div>
		  		</foreignObject>

		  		<foreignObject x="350" y="370" width="300" height="200" ng-show="perrine">
					<div xmlns="http://www.w3.org/1999/xhtml" style="background-color:rgba(255, 255, 255, 0.8);height:100%;padding:1% 3% 1%;">
						<p xmlns="http://www.w3.org/1999/xhtml" ><b>Perrine</b><br/><br/>

							Nous nous connaîssons depuis nos 18 ans. Quand je suis arrivée seule sur Paris, elle

m’a fait découvrir son univers et ses sorties de folie ! <br/>Notre ultime point commun : une complicité 

légendaire qui n’a cessé de se renforcer ces dernières années.<br/>
Téléphone: 0633566812

						</p>
					</div>
		  		</foreignObject>
		  		<!-- <foreignObject x="450" y="370" width="300" height="200" ng-show="nogo">
					<div xmlns="http://www.w3.org/1999/xhtml" style="background-color:rgba(255, 255, 255, 0.8);height:100%;padding:1% 3% 1%;">
						<p xmlns="http://www.w3.org/1999/xhtml" ><b>NO-GO ZONE</b><br/><br/>
							Un seul conseil: ne vous aventurez sous aucun prétexte sur cette rive de la Seine!
						</p>
					</div>
		  		</foreignObject> -->
		  		<foreignObject x="300" y="370" width="300" height="250" ng-show="laurene">
					<div xmlns="http://www.w3.org/1999/xhtml" style="background-color:rgba(255, 255, 255, 0.8);height:100%;padding:1% 3% 1%;">
						<p xmlns="http://www.w3.org/1999/xhtml" ><b>Lauren</b><br/><br/>
							MON BINOME de pharma ! Elle : « Princess », moi : « Précieuse » notre duo a relevé de nombreux 

défis : 2ème au concours de pétanque, membres des assoc' humanitaires, rédactrices en chef du journal des 

pharmas…. <br/> Notre ultime point commun : pas une journée sans un tea time !<br/>
Téléphone: 0677120641
						</p>
					</div>
		  		</foreignObject>
				
				
		  		<foreignObject x="350" y="370" width="300" height="200" ng-show="alex">
					<div xmlns="http://www.w3.org/1999/xhtml" style="background-color:rgba(255, 255, 255, 0.8);height:100%;padding:1% 3% 1%;">
						<p xmlns="http://www.w3.org/1999/xhtml" ><b>Alexandre</b><br/><br/>
							"Les amis d’enfance, si vous ne vous en débarrassez pas à l’adolescence, c’est un truc que vous trainez toute votre vie."
							<br/>
							Si besoin vous le trouverez adossé au comptoir des Jolis Mômes.
							<br/>
							Téléphone: 0663590349
						</p>
					</div>
		  		</foreignObject>
				
		  		<foreignObject x="350" y="370" width="300" height="200" ng-show="bavaria">
					<div xmlns="http://www.w3.org/1999/xhtml" style="background-color:rgba(255, 255, 255, 0.8);height:100%;padding:1% 3% 1%;">
						<p xmlns="http://www.w3.org/1999/xhtml" ><b>La meilleure 8.6 de Paris</b><br/><br/>
						Cette épicerie de nuit ne paye pas de mine, avec ces néons crillards qui ornent la devanture. Et pourtant on y trouve la Bavaria la plus goûteuse de Paris!
						</p>
					</div>
		  		</foreignObject>

			</svg>
			<div style="overflow:hidden">
				<div>
				<img src="images/tame.png" class="tandem" id="tame">
				<img src="images/left_wheel.png" class="tandem" id="left">
				<img src="images/right_wheel.png" class="tandem" id="right">
				</div>
				<div class="list-group" id="menu">
					<a class="list-group-item" ng-click="info = !info" href><span class="col-xs-2"><i class="fa fa-square-o " ng-hide="info"></i><i class="fa fa-check-square-o" ng-show="info"></i></span>Le D-Day</a>
					<a class="list-group-item" ng-click="bestmen = !bestmen" href><span class="col-xs-2"><i class="fa fa-square-o " ng-hide="bestmen"></i><i class="fa fa-check-square-o" ng-show="bestmen"></i></span>Nos Témoins</a>
					<a class="list-group-item" ng-click="us = !us" href><span class="col-xs-2"><i class="fa fa-square-o " ng-hide="us"></i><i class="fa fa-check-square-o" ng-show="us"></i></span>Nos bons plans parisiens</a>
					<a class="list-group-item" ng-click="rsvp=true" href><span class="col-xs-2"></span>RSVP</a>
					<a class="list-group-item" href="http://www.millemercismariage.com/loetcam/mariage-de-lore-anne-trillou-et-camille-vienot.html" target="_blank"><span class="col-xs-2"></span>Notre liste de mariage</a>
					
					
				</div>
				
				<div class="fb-comments" data-href="http://vienot.bitballoon.com/ " data-width="100%" data-numposts="100"></div>

			</div>
			
			<script src="js/angular.min.js"></script>
			<script src="js/angular-route.js"></script>
			<script src="js/app.js"></script>
		</div>
	</body>
</html>